@import '~@mdi/font/css/materialdesignicons.min.css';

// Vuetify
// @import '~vuetify/dist/vuetify.min.css';

.md-button, .md-button-clean{
    background-color: white !important;
}

.button-pdf{
    background-color: #F40F02 !important;
    margin: 15px;
    float: right;
}

.content-button-pdf{
    // padding: 20px !important;
}